*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.logo{
    display: block;
    margin: auto;
    width: 50px;
}
h1{
    text-align: center;
    font-size: 1.5em;
    color: #fff;
    margin-bottom: 20px;
}

body{
    background-image: linear-gradient(to right, #000000, #b4b4b4);
    font-family: 'Roboto', sans-serif;
}
.container{
    border: 2px solid black;
    border-radius: 3rem;
    padding: 2rem;
    box-shadow: 2px 2px 2px 4px rgba(255, 255, 255, 0.2);
    width: 50%;
    height: 60vh;
    overflow-y: scroll;
    margin: auto;
}

.container {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
.container::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}
.message{
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    /* text-align: center; */
    background-color: #ffffff;
    overflow: hidden;
}
.left{
    /* position: relative; */
    float: left;
    width: 40%;

    /* bottom: -85%; */
    clear: both;
}
.right{
    text-overflow: wrap;
    text-align: left;
    float: right;
    width: 40%;
    /* position: relative; */
    /* bottom: -85%; */
    clear: both;
}
.input{
    width: 100%;
    text-align: center;
    margin-top: 1rem;
    
}
input{
    width: 50%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #000000;
}
.name{
    /* border: 2px solid #000000; */
    width: 100%;
    text-align: center;
    display: block;
    margin: auto;
}
button{
    padding-top: 100px;
    width: 10%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #000000;
    background-color: #ffffff;
    cursor: pointer;
    display: block;
     margin: auto;
}

button:hover{
    background-color: #000000;
    color: #ffffff;
}

@media screen and (max-width: 600px) {
    .container{
        width: 100%;
        padding: 1rem;
    }
    .left{
        width: 50%;
        /* text-align: center; */
    }
    .right{
        width: 50%;
        /* text-align: center; */
    }

    button{
        width: 20%;
    }
       
}






